<!DOCTYPE html>
<head>
	<title>Show Page</title>
</head>
<body>
	<h1><%= liger.name %>'s Information!</h1>
	<p>Name: <%= liger.name %></p>
	<p>Age: <%= liger.age %></p>
	<p>Color: <%= liger.color %></p>
	<a href="/ligers/edit/<%= liger._id %>"><button type="button" name="button">Edit This Liger</button></a>
	<a href="/"><button type="button" name="button">See all Ligers</button></a>
</body>
</html>


